body {
  margin: 0;
  font-family:'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #009b3a;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  border: 0;
}

input,
select,
textarea,
button {
  border: 0;
  background-color: #dbdbdb;
  outline: none;
  box-shadow: 10px 10px 20px #00732b, -10px -10px 20px #00c349;
  color: #009b3a;
  font-size: xx-large;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 90px auto;
}

h1 {
  margin: 20px;
  font-family:'Roboto';
  color: #000000;
  font-size: 2em;
  letter-spacing: 1em;
  justify-self: center;
  align-self: center;
}

input {
  border-radius: 50px;
  padding: 16px 24px;
}

.search{
  box-shadow: 12px 12px 36px #00732b, -12px -12px 36px #00c349;
  margin: 0px 100px;
  border-radius: inherit;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 16px;
  align-self: center;
}

.resultsContainer{
  box-shadow: 12px 12px 36px #00732b, -12px -12px 36px #00c349;
  margin: 20px 150px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 16px;
  align-self: center;
  text-align: center;
  padding: 25px;
  background-color: #2c2c2c;
  color: white
}

.results {
  box-shadow: 12px 12px 36px #000000, -12px -12px 36px #444444;
  margin: 20px 50px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 16px;
  align-self: center;
  text-align: center;
  padding: 25px;
  background-color: #646464;
  color: white
}

.resultText{
  background-color: yellow;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
